$primary: #3B82F6;
$secundary: #1E40AF;
$roxo: #6366F1;
$white: #FFFFFF ;
$fundo_c: #F5F7FA;
$text: #111827;

$break-ss: 400px;
$break-sm: 560px;
$break-md: 800px;
$break-lg: 1100px;
$break-xl: 1280px;