.container-sobre{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    @include flexjustify(center, space-around, row);
    gap: 10px;

    @include respond(md) {
     @include flexjustify(center, center, column);
     flex-direction: column-reverse;
        gap: 50px;

  }


    .img-sobre{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        @include respond(md) {
        padding: 0px 20px;
        width: auto;    
        }

        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    .text-sobre{
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;

        @include respond(md) {
        padding: 0px 20px;
        width: auto;    
        }

        

        p{
            color: $text;
        }

        h2{
            font-size: 35px;
            margin: 20px 0px;
            @include respond(sm){
            font-size: 25px;
        }

            span{
            color: $primary;
        }
        }

        h5{
            
            color: $primary;
            
            span{
                text-align: center;
                box-shadow: 0px 0px 10px 0px $primary;
                background-color: #3b83f62d;
                padding: 10px;
                border-radius: 10px;
            }
        }
        
    }
}